.container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 24px;
}

.button {
  min-width: 30%;
  padding: 16px 24px;
  border: none;
  border-radius: 5px;
  font-size: larger;
  font-weight: bold;
  text-transform: capitalize;
  color: rgb(105, 101, 101);
}

.button:not(:last-child) {
  margin-right: 10px;
}

.button:hover {
  background-color: rgb(24, 44, 226);
  color: #ffffff;
}

.button:first-child:hover {
  background-color: rgb(62, 231, 99);
}

.button:last-child:hover {
  background-color: rgb(241, 37, 48);
}
